__pycache__/*
*.aux
*.nav
*.snm
*.toc
*.blg
*.bbl
*.gif

*.out
*.log
*.sync*

*/*.aux
*/*.nav
*/*.snm
*/*.toc
*/*.blg
*/*.bbl
*/*.gif

*/*.out
*/*.log
*/*.sync*

*/*/*.aux
*/*/*.nav
*/*/*.snm
*/*/*.toc
*/*/*.blg
*/*/*.bbl
*/*/*.gif

*/*/*.out
*/*/*.log
*/*/*.sync*


*.pyc
tex/PGM.pdf
tex/PGM.pdf
tex/PGM.pdf
